apiVersion: v1
kind: Service
metadata:
    name: {{MYREV.ELASTICSERVER}}-kibana
spec:
    ports:
    -   port: 5601
        protocol: TCP
        targetPort: 5601
    selector:
        app: {{MYREV.ELASTICSERVER}}

---

apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{MYREV.ELASTICSERVER}}-kibana
spec:
  selector:
    matchLabels:
        app: {{MYREV.ELASTICSERVER}}-kibana
  replicas: 1
  template:
    metadata:
        labels:
            app: {{MYREV.ELASTICSERVER}}-kibana
    spec:
        initContainers:
        -   name: init-kibana-{{MYREV.ELASTICSERVER}}
            image: busybox
            command: ['sh', '-c', 'until nslookup {{MYREV.ELASTICSERVER}}-loadbalancer; do echo waiting for es; sleep 2; done;']
        containers:
        -   name: {{MYREV.ELASTICSERVER}}-kibana
            image: docker.elastic.co/kibana/kibana:6.3.2
            ports:
            -   containerPort: 5601
            env:
            -   name: ELASTICSEARCH_URL
                value: "http://{{MYREV.ELASTICSERVER}}-loadbalancer:9200"
        
