apiVersion: v1
kind: Service
metadata:
    name: {{SMTPSERVER}}
spec:
    ports:
    -   name: smtp 
        port: 1025
        protocol: TCP
    -   name: ui
        port: 8025
        protocol: TCP
    selector:
        app: {{SMTPSERVER}}

---

apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{SMTPSERVER}}
spec:
  selector:
    matchLabels:
        app: {{SMTPSERVER}}
  replicas: 1
  template:
    metadata:
        labels:
            app: {{SMTPSERVER}}
    spec:
        containers:
        -   name: {{SMTPSERVER}}
            image: mailhog/mailhog
            ports:
            -   containerPort: 8025
            -   containerPort: 1025
        {% if not NORESOUCERESERVATION  %}
            resources:
                requests:
                    cpu: "100m"
                    memory: "100Mi"
        {% endif %}
        
