apiVersion: v1
kind: Service
metadata:
    name: {{MYREV.RABBITMQSERVER}}
spec:
    ports:
    -   name: amqp 
        port: 5672
        protocol: TCP
    -   name: management
        port: 15672
        protocol: TCP
    selector:
        app: {{MYREV.RABBITMQSERVER}}

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
    name: {{MYREV.RABBITMQSERVER}}
spec:
  serviceName: {{MYREV.RABBITMQSERVER}}
  selector:
    matchLabels:
        app: {{MYREV.RABBITMQSERVER}}
  replicas: 1
  template:
    metadata:
        labels:
            app: {{MYREV.RABBITMQSERVER}}
    spec:
        containers:
        -   name: {{MYREV.RABBITMQSERVER}}
            image: cloudconnect.scanrev.com:5000/rev-mq:1.0
            volumeMounts:
            -   mountPath: "/var/lib/rabbitmq/mnesia/"
                name: mq-data

            ports:
            -   containerPort: 6379
            -   containerPort: 15672
            env:
            -   name: RABBITMQ_DEFAULT_USER
                value: "revRabbit"
            -   name: RABBITMQ_DEFAULT_PASS
                valueFrom:
                    secretKeyRef:
                        name: rev-secrets
                        key: rabbitmq_pass
        {% if not MYREV.NORESOUCERESERVATION  %}
            resources:
                requests:
                    cpu: "500m"
                    memory: "1000Mi"
        {% endif %}

        imagePullSecrets:
        - name: secret-cloudconnect
  
  volumeClaimTemplates:
  - metadata:
        name: mq-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 5Gi


        
