kind: Service
apiVersion: v1
metadata:
    name: rev-frontend
spec:

{% if REVVER == 'devbox' %}

    type: ExternalName
    externalName: host.docker.internal

{% else %}

    ports:
    -   port: 80
    selector:
        app: rev-frontend

{% endif %}


---

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rev-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - http:
      paths:
      - path: /revstorage/
        backend:
          serviceName: minio
          servicePort: 9000
      - path: /
        backend:
          serviceName: rev-frontend

{% if REVVER == 'devbox' %}
          servicePort: 56395
          
    host: host.docker.internal

{% else %}

          servicePort: 80

{% endif %}

