{% macro revdepends(serviceName) -%}
        imagePullSecrets:
        - name: secret-cloudconnect

        initContainers:
        -   name: init-{{serviceName}}-{{MYREV.ELASTICSERVER}}
            image: busybox:1.28
            command: ['sh', '-c', 'until nslookup {{MYREV.ELASTICSERVER}}-loadbalancer; do echo waiting for es; sleep 2; done;']
        -   name: init-{{serviceName}}-{{MYREV.MONGOSERVER}}
            image: busybox:1.28
            command: ['sh', '-c', 'until nslookup {{MYREV.MONGOSERVER}}; do echo waiting for es; sleep 2; done;']
        -   name: init-{{serviceName}}-{{MYREV.RABBITMQSERVER}}
            image: busybox:1.28
            command: ['sh', '-c', 'until nslookup {{MYREV.RABBITMQSERVER}}; do echo waiting for es; sleep 2; done;']
{%- endmacro %}

{% import  'rev-env.yml.j2' as macros  %}

{% macro revservice(revServiceName) -%}

apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{revServiceName}}
spec:
  selector:
    matchLabels:
        app: {{revServiceName}}
  replicas: 1
  template:
    metadata:
        labels:
            app: {{revServiceName}}
    spec:

        {{revdepends(revServiceName)}}    

        containers:
        -   name: {{revServiceName}}
            image: cloudconnect.scanrev.com:5000/{{revServiceName}}:{{MYREV.REVVER}}
            resources:
                requests:
                    cpu: "500m"
                    memory: "500Mi"
            env:

            {{macros.revenv()}}    

{%- endmacro %}            

{{revservice('rev-es-service')}}

---

{{revservice('rev-imageproc')}}

---


{% if environ('HASOCR') %}
{% include 'rev-ocr.yml.j2' %}
---
{% endif %}



apiVersion: apps/v1
kind: Deployment
metadata:
    name: rev-frontend
spec:
  selector:
    matchLabels:
        app: rev-frontend
  replicas: 1
  template:
    metadata:
        labels:
            app: rev-frontend
    spec:

        {{revdepends('rev-frontend')}}

        containers:
        -   name: rev-frontend
            image: cloudconnect.scanrev.com:5000/revcore2:{{MYREV.REVVER}}
            ports:
            -   containerPort: 80
            resources:
                requests:
                    cpu: "500m"
                    memory: "1000Mi"
            
            env:

            {{macros.revenv()}}    

            -   name: multisite__enabled
                value: "true"
            -   name: multisite__custdomainTemplate
                value: "http://{custom}.scanrev.com"
            -   name: multisite__currentInstance
                value: "http://standalone"
            -   name: multisite__maxWorkspaces
                value: "1"
            -   name: multisite__storage
                value: "s3"

            -   name: authentication__signingKey
                valueFrom:
                    secretKeyRef:
                        name: rev-secrets
                        key: authentication_signingKey
            -   name: authentication__useAuth0
                value: "false"
            -   name: authentication__revConnect
                value: "http://scan-rev.com"


            -   name: projectTemplates
                value: "http://downloads.labizbille.com/revTemplates/onBoardingRepos.json"

            -   name: support__helpTopics
                value: "http://s3.amazonaws.com/downloads.labizbille.com/revTemplates/helpTopics.json"


            -   name: redis__Configuration
                value: "{{MYREV.REDISERVER}}"
            -   name: redis__InstanceName
                value: "rev"

            -   name: support__siteadmins__0
                value: "dan"

{% if environ('USETWILIO') %}                

            -   name: twilio__servicePhoneNumber
                valueFrom:
                    secretKeyRef:
                        name: twilio-creds
                        key: servicePhoneNumber
            -   name: twilio__authtoken
                valueFrom:
                    secretKeyRef:
                        name: twilio-creds
                        key: authtoken
            -   name: twilio__sid
                valueFrom:
                    secretKeyRef:
                        name: twilio-creds
                        key: sid
{% endif %}                        


        {% if MYREV.SMTPSERVER == 'mailhog' %}
            -   name: mailSettings__smtpHost
                value: "{{MYREV.SMTPSERVER}}"
            -   name: mailSettings__smtpPort
                value: "1025"
            -   name: mailSettings__defaultMailFromEmail
                value: "test@test.local"
            -   name: mailSettings__defaultMailFromName
                value: "test@test.local"

            -   name: textConfig__MYREV.SMTPSERVER
                value: "{{MYREV.SMTPSERVER}}"
            -   name: textConfig__smtpPort
                value: "1025"
            -   name: textConfig__smtpServer
                value: "mailhog"
            -   name: textConfig__testPrefix
                value: "+1900"

        {% else %}
                {% error "NON MINIO NOT IMPLEMENTED" %}
        {% endif %}
