apiVersion: v1
kind: Secret
metadata:
  name: rev-secrets
type: Opaque
data:
  rabbitmq_pass: {{ random_ascii_string(12,punctuation=True) | b64encode }}
  minio_accesskey: {{ random_ascii_string(20) | b64encode }}
  minio_pass: {{ random_ascii_string(40,punctuation=True) | b64encode }}
