
{% if environ('REVVER') %}
    {%-  set REVVER=environ('REVVER')  -%}
{% else %}
    {% error "revVER not set call with -e REVVER=XXXXXX" %}
{% endif %}


{% if REVVER == 'devbox' %}
    {%-  set NORESOUCERESERVATION=True  -%}    
{% endif %}


{% if environ('S3REGION') %}
    {%-  set S3REGION=environ('S3REGION')  -%}
{% else %}

    {% if environ('USEMINIO') %}
        {%-  set S3REGION='us-east-1'  -%}
    {% else %}
        {% error "S3REGION NOT IMPLEMENTED" %}
    {% endif %}

{% endif %}

{%- set SMTPSERVER='mailhog' -%}


{%- set MONGOSERVER='mongo' -%}
{%- set REDISERVER='redis' -%}
{%- set RABBITMQSERVER='rabbitmq' -%}
{%- set ELASTICSERVER='elasticsearch' -%}

{%- set MINIOSERVER='minio' -%}

{% include 'mongo.yml.j2' %}

---

{% include 'redis.yml.j2' %}

---

{% include 'rabbit.yml.j2' %}

---

{% include 'elastic.yml.j2' %}

---

{% include 'kibana.yml.j2' %}

{% if environ('USEMINIO') %}

---

{% include 'minio.yml.j2' %}

{% endif %}


{% if SMTPSERVER == 'mailhog' %}

---

{% include 'mailhog.yml.j2' %}

{% endif %}


{% if REVVER == 'devbox' %}
    #    USING REV in DEV MODE
{% include 'rev-dev.yml.j2' %}
{% else %}
---
{% include 'rev.yml.j2' %}
{% endif %}

