{% import 'definations.yml.j2' as MYREV %}

{% include 'mongo.yml.j2' %}

---

{% include 'redis.yml.j2' %}

---

{% include 'rabbit.yml.j2' %}

---

{% include 'elastic.yml.j2' %}

---

{% include 'kibana.yml.j2' %}

{% if environ('USEMINIO') %}

---

{% include 'minio.yml.j2' %}

{% endif %}


{% if MYREV.SMTPSERVER == 'mailhog' %}

---

{% include 'mailhog.yml.j2' %}

{% endif %}


{% if MYREV.REVVER == 'devbox' %}
    #    USING REV in DEV MODE
{% else %}
---
{% include 'rev.yml.j2' %}
{% endif %}


---
{% include 'rev-front.yml.j2' %}

